body{
	/*background-color:#f3e5f5;*/
}
section {
	min-height: 100px;
	margin-bottom: 15px;
}
.status .container{
	width: 80%;
	border-radius: 20px;
	padding: 15px;
	border: 1px solid grey;
}
#detailkomen .container{
	width: 80%;
	border-radius: 20px;
	padding: 15px;
	border: 1px solid grey;
}
#detailkomen{
	margin-top: 20px;
}
.aktif{
	background-color: #757575;
}
.belum{
	background-color: #ccc;
	font-weight: bold;
}
.sudah{
	background-color: #fff;
}